mainColor = rgb(0, 135, 255)
mainColorDarker = rgb(0, 109, 204)
mainColorSuperLighter = rgb(205, 235, 255)
warningColor = rgb(200, 10, 20)
dashColor = rgb(150, 150, 150)
fontColor = rgb(7, 17, 27)

activeLink(fontColor = #fff, backgroundColor = mainColor)
  color fontColor
  background-color backgroundColor

fontSizeHight(size = 16px, lineHeight = 24px)
  font-size size
  line-height lineHeight

border1px(color = #ccc)
  border 1px solid color

topCenter()
  position relative
  top 50%
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform translate(0, -50%)
